<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.8"
      integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <form hx-put="/contact/1" hx-target="this" hx-swap="outerHTML">
      <div class="navigation" hx-boost="true"><a href="/">home</a></div>
      <div>
        <label>First Name</label>
        <input type="text" name="firstName" value="Joe" />
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="lastName" value="Blow" />
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <input type="email" name="email" value="joe@blow.com" />
      </div>
      <button class="btn">Submit</button>
      <button class="btn" hx-get="/htmx">Cancel</button>
    </form>
  </body>
</html>
